@using SharedLib.Services
@using SharedLib.Models
@using SharedLib.ClientServices.refit

@inject SessionMarkerLiteModel sessionMarker
@inject ILogger<ReportStructureProjectComponent> logger

@inherits BlazorBusyComponentBaseModel

<h3>
  Дизайн проекта
  <small class="text-muted">Структура/состав проекта</small>
</h3>

<div class="alert alert-info" role="alert">
    ToDo
</div>

@code {
    [Parameter]
    public int? ProjectId { get; set; }

    private ModalWindowComponent Modal { get; set; }
    private string ModalBodyText { get; set; } = string.Empty;

    protected override async void OnInitialized()
    {
        if (ProjectId.GetValueOrDefault(0) == 0)
        {
            return;
        }
        await ReloadStructure(ProjectId.Value);
    }

    public async Task ReloadStructure(int project_id)
    {
        if (project_id <= 0)
        {
            ModalBodyText = "Идентификатор пользовательского проекта не может быть 0";
            logger.LogError(ModalBodyText);
            Modal.Open("Ошибка!");
            return;
        }

        IsBusyProgress = true;

        IsBusyProgress = false;
        StateHasChanged();
    }
}
