@using LibMetaApp.Models
@using Refit
@using Microsoft.Extensions.Logging
@using LibMetaApp
@inherits LibMetaApp.Services.BlazorBusyComponentBaseModel

@inject CustomAuthStateProvider authState
@inject IClientSession SessionLocalStorage
@inject SessionMarkerLiteModel SessionMarker
@inject LibMetaApp.Services.IUsersAuthRefitApi UsersAuthService
@inject ILogger<UserLogoutForm> Logger

<h3>Выход</h3>
<button class="btn btn-primary" onclick="@LogoutAsync" disabled="@IsBusyProgress">
    @{
        if (IsBusyProgress == true)
        {
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <text> Загрузка...</text>
        }
        else
        {
            <text>Подтверить выход из сессии</text>
        }
    }
</button>
@code {
    ResponseBaseModel? res = null;

    private async Task LogoutAsync()
    {
        IsBusyProgress = true;
        res = await SessionLocalStorage.LogoutAsync();

        if (!string.IsNullOrEmpty(res?.Message))
        {
            if (res.IsSuccess)
                Logger.LogInformation(res?.Message);
            else
                Logger.LogError(res?.Message);
        }

        authState.AuthenticationStateChanged();
        IsBusyProgress = false;
    }
}