@using LibMetaApp.Models

@inject SessionMarkerLiteModel SessionMarker
@inject LibMetaApp.Services.IUsersAuthRefitApi UsersAuthService
@inject ILogger<UserProfile> Logger

<h3>Ваш профиль</h3>

@code {

}
