@page "/documents/edit/{id:int?}"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<div class="card">
    <div class="card-header">
        Featured
    </div>
    <div class="card-body">
        <h5 class="card-title">Документ</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        This is some text within a card body.
    </div>
</div>
@code {
    [Parameter] public int? id { get; set; }
}
