@page "/authentication/{action?}/{token:guid?}"
@using Microsoft.Extensions.Logging
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using LibMetaApp.Models
@inject LibMetaApp.Services.IUsersAuthApi UsersAuthService
@inject NavigationManager Navigation
@inject SessionMarkerLiteModel SessionMarker
@inject ILogger<Authentication> Logger

<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity?.Name!
        <hr />
        @{
            string? action_name = Action?.ToLower();
            if (action_name == GlobalStaticConstants.LOGOUT_ACTION_NAME)
            {
                <UserLogoutForm />
            }
            else
            {
                <button class="nav-link btn btn-link" @onclick="BeginLogout">Выйти</button>
            }
        }
    </Authorized>
    <NotAuthorized>
        @{
            string? action_name = Action?.ToLower();
            if (action_name == GlobalStaticConstants.LOGIN_ACTION_NAME)
            {
                <UserLoginForm />
            }
            else if (action_name == GlobalStaticConstants.RESTORE_ACTION_NAME)
            {
                <UserRestoreForm />
            }
            else
            {
                <UserRegistrationForm />
            }
        }
    </NotAuthorized>
</AuthorizeView>
@code {
    [Parameter] public string? Action { get; set; }
    [Parameter] public string? Token { get; set; }

    private void BeginLogout(MouseEventArgs args)
    {
        Navigation.NavigateTo($"{GlobalStaticConstants.AUTHENTICATION_CONTROLLER_NAME}/{GlobalStaticConstants.LOGOUT_ACTION_NAME}");
    }
}
